extends base.pug

block content
    form(method="POST")
        input(name="name", type="text", required, placeholder="name", value=user.name)
        input(name="username", type="text", required, placeholder="username", value=user.username)
        input(name="email", type="email", required, placeholder="cheezone@cheezone.com", value=user.email)
        input(name="location", type="text", required, placeholder="location",value=user.location)
        input(type="submit", value="Update Profile")
        if !user.socialOnly
            hr
            a(href="change-password") Change Password &rarr;
        