
extends base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(type="text", required, name="title", placeholder="New video name", maxlength=20)
        input(type="text", required, name="description", placeholder="Description", minlength=80)
        input(type="text", required, name="hashtag", placeholder="write hash tag with #")
        input(type="submit", value="Submit")