div.social-login
    a(href="/users/github/start").social__btn.social__btn--github 
        i.fab.fa-github
        span Start with github &rarr;
    br
    a(href="/users/kakao/start").social__btn.social__btn--kakao 
        i.fab.fa-kickstarter
        span Start with kakao &rarr;