extends ../base.pug 
block content  
    form(method="POST")
            input(placeholder="Old Password",name="oldPassword",type="password")
            input(placeholder="New Password",name="newPassword",type="password")
            input(placeholder="New Password Confirmation",name="newPasswordConfirm",type="password")
            input(value="Change Password", type="submit")